@font-face {
  font-family: "Patrick Hand SC";
  src: url('patrickhandsc.ttf') format('truetype');
}

html, body, div, h1, h3, p {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Patrick Hand SC", sans-serif;
  font-size: 32px;
}

section {
  position: absolute;
  padding: 0;
  margin: 0;
  width: 50vw;
  height: 50vh;
  text-align: center;
  display: none;
}

.topleft {
  top: 0;
  left: 0;
}
.topright {
  top: 0;
  right: 0;
}
.bottomleft {
  bottom: 0;
  left: 0;
}
.bottomright {
  bottom: 0;
  right: 0;
}
.titleonly {
  width: 100vw;
  height: 100vh;
  font-size: 72px;
  font-weight: bold;
  letter-spacing: 7px;
  line-height: 100vh;
}
.centered-line { line-height: 50vh; }
.indent { text-indent: 3vw; }
.bullets { ; }

/* colors */
.bgyellow { background-color: yellow; }
.bggrey { background-color: grey; }
.bgpurple { background-color: purple; }
.bgred { background-color: red; }
.bgblue { background-color: blue; }
.bgorange { background-color: orange; }

.hidden { display: none; }
.show { display: block; }
